
#RoutinePractices{
    display: none;
}
#CautionAttention{
    display: none;
}
#ContactPrecautions{
    display: none;
}
#ContactPrecautions_000{
    display: none;
}
#HazardousMedications{
    display: none;
}
#HazardousMedications_000{
    display: none;
}


body {
    padding: 30px;
    background-image: url("app/img/background.png");
    /*background-size: cover;*/
}

#content{
    /*background-image: url("app/img/background.png");*/
}

.psh {
    box-shadow: #ddd 0 0 10px 1px;;
}

.pb {
    border-radius: 8px;
    border: 2px solid #337ab7;
}

.panel {
    border-radius: 20px;
}

.panel-heading {
    border-radius: 20px 20px 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-head {
    font-size: 24px;
    background-color: #FDE4A1 !important;
    font-weight: 700;
}

.panel-primary {
    /*border-color: #49256B;*/
    border: none;
}

.panel-primary > .panel-heading {
    font-size: 18px;
    color: #fffffF;
    background-color: #49256B !important;
}

.panel-danger {
    /*border-color: #D2232A;*/
    border: none;
}

.panel-danger > .panel-heading {
    font-size: 18px;
    color: #fffffF;
    background-color: #D2232A !important;
}

.panel-warning {
    /*border-color: #F47723;*/
    border: none;
}

.panel-warning > .panel-heading {
    font-size: 18px;
    color: #fffffF;
    background-color: #F47723 !important;
}

.panel-success {
    /*border-color: #00937D;*/
    border: none;
}

.panel-success > .panel-heading {
    font-size: 18px;
    color: #fffffF;
    background-color: #00937D !important;
}

.panel-info {
    /*border-color: #0085B5;*/
    border: none;
}

.panel-info > .panel-heading {
    font-size: 18px;
    color: #fffffF;
    background-color: #0085B5 !important;
}

.selected {
    border: 2px solid #ff7e00;
}

/*.fright{*/
/*float: right;*/
/*}*/

.navbar > .row {
    background-color: #ffffff;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > thead > tr > th {
    text-align: center;
}

td > img {
    max-height: 64px;
    max-width: 64px;
}

td.img_128 img {
    max-height: 128px;
    max-width: 128px;
}

div.img_64 img {
    max-height: 64px;
    max-width: 64px;
}

div.img_100 img {
    max-height: 100px;
    max-width: 100px;
}

div.img_128 img {
    max-height: 128px;
    max-width: 128px;
}

div.img_150 img {
    max-height: 150px;
    max-width: 150px;
}

div.img_158 img {
    max-height: 158px;
    max-width: 158px;
}

div.img_178 img {
    max-height: 178px;
    max-width: 178px;
}

#CP_image_000 {
    max-height: 510px;
    max-width: 392px;
    position: relative;
    transform: translateY(25%);
}

#HM_image_000 {
    max-height: 653px;
    max-width: 392px;
    position: relative;
    transform: translateY(25%);
}

/*  fieldset border + legend  */
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 2em 0.4em 2em !important;
    margin: 0 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 0 #000;
    /*box-shadow:  0px 0px 0px 0px #000;*/
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    width: auto;
    padding: 0 15px;
    border-bottom: none;
    margin-bottom: 0;
}

legend.danger {
    color: #D2232A;
}

legend.success {
    color: #00937D;
}

/*   --------------------  */
#RoutinePractices {
    min-height: 266px;
}

#CautionAttention {
    min-height: 237px;
}

#ContactPrecautions {
    min-height: 513px;
}

#ContactPrecautions_000 {
    min-height: 513px;
}

#HazardousMedications {
    min-height: 653px;
}

#logo {
    /*min-height: 120px;*/
    margin-top: 20px;
}

#logoText {
    min-height: 100px;
}
#logoText > h3 {
    margin-top: 5px;
}

#Date, #textDate {
    font-size: 145%;
}
#textDate {
    color: #D2232A;
}

footer {
    position: absolute;
    bottom: 25px;
    right: 115px;
    font-size: 13px;
}

#RoutinePractices > .panel-body,
#CautionAttention > .panel-body {
    padding-top: 50px;
    padding-bottom: 50px;
}

#HazardousMedications > .panel-body,
#ContactPrecautions > .panel-body {
    padding-top: 20px;
}

#HazardousMedications > .panel-body > fieldset,
#ContactPrecautions > .panel-body > fieldset {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.panel-primary > .panel-heading,
.panel-info > .panel-heading,
.panel-danger > .panel-heading,
.panel-success > .panel-heading {
    font-size: 22px;
}

#RoutinePractices,
#CautionAttention {
    min-height: 375px;
}

/*.panel-success>.panel-heading {*/
/*font-size: 22px;*/
/*}*/
#ContactPrecautions,
#ContactPrecautions_000 {
    min-height: 760px;
}

/*#ContactPrecautions_000 {*/
/*min-height: 760px;*/
/*}*/

#HazardousMedications,
#HazardousMedications_000 {
    height: 980px;
}

/*#HazardousMedications_000 {*/
/*height: 980px;*/
/*}*/

#HazardousMedications h5,
#ContactPrecautions h5 {
    font-size: 20px;
}

.transition-scale {
    position: relative;
    z-index: 2;
    /*background: #808991;*/
    /*color: #FFF;*/
    margin: 0 auto;
    /*padding: 10px;*/
    /*text-align: center;*/
    /*max-width: 500px;*/
    /*font-size: 20px;*/
    /*border: 4px ridge black;*/
    cursor: pointer;
    transition: 0.5s linear;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.5;
}

.transition-scale-activated {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.transition-opacity {
    transition: 0.5s linear;
    opacity: 0.3;
}

.transition-opacity-activated {
    opacity: 1;
}

/*.transition-scale:hover {*/
    /*-webkit-transform: scale(1);*/
    /*transform: scale(1);*/
    /*opacity: 1;*/
/*}*/

/*td > span{*/
/*font-weight: 600;*/
/*}*/